$primary: #3B8A3E;  // Un vert forêt vibrant
$secondary: #A2D2A1;  // Un vert pâle et apaisant
$dark: #4D4032;  // Un brun chaud et profond
$black: #3A2F2B;  // Un noir avec une touche de marron
$font-family-sans-serif: "Montserrat", sans-serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";